@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fortawesome/fontawesome-free/css/all.css';

.htmx-request.indicator {
    color: #ef4444;  /* Red during loading */
}

.indicator {
    display: none;
}
.htmx-request.indicator {
    display: flex;
}

.circle {
    animation: fadeToWhite .5s forwards;
}

.circle:nth-child(1) {
    animation-delay: 0s;
}

.circle:nth-child(2) {
    animation-delay: .5s;
}

.circle:nth-child(3) {
    animation-delay: 1s;
}

.circle:nth-child(4) {
    animation-delay: 1.5s;
}

.circle:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fadeToWhite {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}


.atomic {
    background-image: url('../images/atomic.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.8);
}
.rossignol {
    background-image: url('../images/rossignol.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.1);
}

.swix {
    background-image: url('../images/swix.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.salomon {
    background-image: url('../images/salomon.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.madshus {
    background-image: url('../images/madshus.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 20px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.8);
}
.fischer, .fisher {
    background-image: url('../images/fisher.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.5);
}

.kastle, .kästle {
    background-image: url('../images/kastle.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.5);
}

.ogasaka {
    background-image: url('../images/ogasaka.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}

.bgpic {
    position: relative;
    min-height: 100vh;
}

.bgpic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/aaron-doucett-j2T6auKwbRc-unsplash-2.webp') center/cover;
    opacity: 0.7;
    z-index: -1;
}

/*th {*/
/*    color: white;*/
/*    background-color: #8bf1be;*/
/*}*/

/*h2 {*/
/*    color: #8bf1be;*/
/*}*/

/*th {*/
/*    border-radius: 5px;*/
/*}*/
