@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.atomic {
    background-image: url('../images/atomic.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.rossignol {
    background-image: url('../images/rossignol.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.5);
}

.swix {
    background-image: url('../images/swix.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.salomon {
    background-image: url('../images/salomon.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.5);
}
.madshus {
    background-image: url('../images/madshus.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 20px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.1);
}
.fischer {
    background-image: url('../images/fisher.webp');
    /*width: 20px;  !* Set appropriate width *!*/
    height: 16px; /* Set appropriate height */
    background-size: contain;  /* or 'cover' depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
